.weather-app {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 15px;
  font-family: "Lato", sans-serif;
  text-align: center;
  /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
  border-radius: 20px;
  padding: 10px;
  border-spacing: 100px;
  width: 90%;
}

ul {
  /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
  list-style: none;
  margin: 2px 2px;
  padding: 9px;
  left: 80px;
  line-height: 20px;
  text-size-adjust: 1px;
  font-size: 18px;
  /* display: inline; */
  margin: 0 auto;
}
ul:hover {
  color: rgb(0, 0, 0);
  max-width: 400px;
}

#city,
#date {
  color: rgb(0, 91, 39);
}

.search,
.current {
  color: rgb(0, 0, 0);
  font-size: large;
  font-weight: 10px;
  background-color: rgb(73, 197, 247);
  cursor: pointer;
  border-radius: 10px;
}
